{
	"parser": "@typescript-eslint/parser",
	"plugins": ["react", "react-hooks", "@typescript-eslint"],
	"extends": ["eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/recommended"],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"indent": ["error", "tab"],
		"semi": [2, "always"],
		"no-tabs": "off",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-explicit-any": "off"
	}
}