@import "../../common/variables";

.allscreenshots_container {
    margin: 30px;
    border-left: 2px solid $neutrals_400;
    @media (max-width:$mobile) {
        margin: 15px;
    }
    .wrapper{
        position: relative;
        .allcards_container {
            display: grid;
            margin-left: 15px;
            column-gap: 30px;
            grid-template-columns: repeat(6,1fr);
            margin-bottom: 30px;
            @media (max-width:$mobile) {
                column-gap: 15px;
            }
            @media (max-width:1200px) {
                grid-template-columns: repeat(4,1fr);
            }
            @media (max-width:$landspace) {
                grid-template-columns: repeat(3,1fr);
            }
            @media (max-width:$tablet) {
                grid-template-columns: repeat(2,1fr);
            }
        }
        .time_heading {
            background: $light;
            display: flex;
            font-size: 12px;
            color: $neutrals_600;
            left: -8px;
            position: absolute;
            img {
                cursor: pointer;
                width: 14px;
                margin-right: 8px;
            }
        }
    }
    
}