$light : #FFFFFF;
$dark : #000000;

$primary_50 : #F3F5FE;
$primary_100 : #CED9F9;
$primary_200 : #AABCF5;
$primary_300 : #85A0F0;
$primary_400 : #4970E9;
$primary_500 : #1A48D3;
$primary_600 : #163CB0;
$primary_700 : #0F2A7B;
$primary_800 : #091846;
$primary_900 : #040C23;

$secondary_50 : #F2FBFF;
$secondary_100 : #CCF1FF;
$secondary_200 : #A6E6FF;
$secondary_300 : #73D8FE;
$secondary_400 : #4DCDFE;
$secondary_500 : #01B8FE;
$secondary_600 : #01A9E9;
$secondary_700 : #017BA9;
$secondary_800 : #004D6A;
$secondary_900 : #001F2A;

$success_50 : #F4FBF7;
$success_100 : #D2EFE0;
$success_200 : #B0E3C9;
$success_300 : #8ED7B3;
$success_400 : #6CCB9C;
$success_500 : #359766;
$success_600 : #318A5E;
$success_700 : #28714D;
$success_800 : #1B4C33;
$success_900 : #123222;

$warning_50 : #FFFBF6;
$warning_100 : #FFEFDC;
$warning_200 : #FFE2C1;
$warning_300 : #FFD6A7;
$warning_400 : #FFC684;
$warning_500 : #FFAD4F;
$warning_600 : #FF9B29;
$warning_700 : #FB8600;
$warning_800 : #A75900;
$warning_900 : #532D00;

$error_50 : #FDF4F5;
$error_100 : #F6D4D8;
$error_200 : #F0B3BA;
$error_300 : #EA929D;
$error_400 : #EA929D;
$error_500 : #D1293D;
$error_600 : #C02638;
$error_700 : #9D1F2E;
$error_800 : #7A1824;
$error_900 : #571119;

$neutrals_50 : #F8F9FA;
$neutrals_100 : #E3E5EB;
$neutrals_200 : #CED2DC;
$neutrals_300 : #B9BECD;
$neutrals_400 : #A4ABBD;
$neutrals_500 : #737D9A;
$neutrals_600 : #5E6782;
$neutrals_700 : #383E4E;
$neutrals_800 : #1C1F27;
$neutrals_900 : #090A0D;

$dark_50 : #3F3E49;
$dark_100 : #3C3B47;
$dark_200 : #3A3944;
$dark_300 : #353540;
$dark_400 : #33323E;
$dark_500 : #2F2E3A;
$dark_600 : #2C2B37;
$dark_700 : #2A2935;
$dark_800 : #252431;
$dark_900 : #1A1926;

$small: 320px;
$mobile: 576px;
$tablet: 768px;
$landspace: 992px;
$tablet_big: 1024px;
$desktop: 1920px;
$signup: 1200px;
$bottombar:1400px;
$activity_cards : 1150px;
$dashboardcards: 620px; 
$image_viewer: 1012px;
$report_card: 1320px;

$tab_button : 0 2px 4px 0 rgba(0,0,0,0.13);
$inputbox_shadow : inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(42,167,255,0.6);
$togglemenu_shadow : 0px 2px 10px rgba(1,1,1,0.15);
$searchinput_shadow : 0px 0px 15px 5px rgba(42, 167, 255, 0.3);
$drawer_shadow : -4px 0 16px 0 rgba(0, 0, 0, 0.1);

$bg1: rgba(0,0,0,0.5); 

$font_family1: 'Open Sans', sans-serif;